/* Theme: Child of Twenty Seventeen
Description: Child theme based on Twenty Seventeen for Dev Tools 2
Author: Alyssa
Version: 1.0
Template: twentyseventeen */ 

@import url('../twentyseventeen/style.css');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Raleway:400,400i,800');

/*typography changes*/

/*font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif;*/

h2 {
	font-size: 28px;
}

.entry-title {
	font-family: Helvetica;
}

.page .panel-content .entry-title, .page-title, body.page:not(.twentyseventeen-front-page) .entry-title {
	font-family: 'Cinzel Decorative', cursive;
}

body, button, input, select, textarea {
    font-family: 'Raleway', sans-serif;
}