/* Theme: Child of Twenty Thirteen
Description: Child theme based on Twenty Thirteen for Dev Tools 2
Author: Alyssa
Version: 1.0
Template: twentythirteen */ 

/*Import Parent Theme and Google Fonts */

@import url('../twentythirteen/style.css');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700');

/*typography changes*/

/*font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;*/

/* Header */
.site-header {
	background-color: #732C7B;
}

.site-title {
	color: #fff;
	font-family: 'Merriweather', serif;
}

.site-description {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}


/* Nav Bar Styles */

.navbar {
    background-color:  #421C52;
}

.nav-menu li a {
    color: #fff;
}

.nav-menu li:hover > a, .nav-menu li a:hover, .nav-menu li:focus > a, .nav-menu li a:focus {
    background-color: #732C7B;
    color: #fff;
}

.nav-menu .current_page_item > a, .nav-menu .current_page_ancestor > a, .nav-menu .current-menu-item > a, .nav-menu .current-menu-ancestor > a {
    color: #BDAEC6;
}

/* Body Styles */

.site-main {
	background-color: #BDAEC6;
}

.entry-title {
    color: #421C52;
    font-family: 'Merriweather', serif;
}

.entry-title a {
    color: #421C52;
    font-family: 'Merriweather', serif;
}

.entry-title a:hover {
    color: #9C8AA5;
}

a:active, a:hover {
    color: #9C8AA5;
}

.entry-meta a {
    color:  #732C7B;
}

.entry-meta a:hover {
    color: #9C8AA5;
}

.entry-content {
	color: #570b5e;
	font-family: 'Open Sans', sans-serif;
}

/* Archive Styles */

.archive-header {
    background-color: #BDAEC6;
    color: #570b5e;
}

.archive-title {
    font: 50px 'Merriweather', serif;
}

.archive-subtitle {
    font: italic 20px 'Open Sans', sans-serif;
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    color:  #732C7B;
}

/* Contact Page */
button, input[type="submit"], input[type="button"], input[type="reset"] {
    background: #732C7B;
    border-bottom: 3px solid #732C7B;
    color: #fff;
}

/*Footer*/


.site-footer {
	background-color:  #421C52;
}

.site-footer .widget-area {
	background-color:  #421C52;
}

.site-footer .sidebar-container {
	background-color:  #421C52;
}

.site-footer .widget a {
    color: #fff;
}

.site-footer .widget a:hover {
    color: #9C8AA5;
}

.site-footer .widget-title, .site-footer .widget-title a, .site-footer .wp-caption-text {
    color: #9C8AA5;
}

/* Removes Proudly Powered by Wordpress Footer Panel */
.site-info {
  display: none;
}
